:root {
  --c-neutral-one: whitesmoke;
  --c-neutral-two: #333;
  --c-primary: #0074D9;
  --c-secondary: #001F3F;
  --c-accent: #FF4136;
}

* {
  box-sizing: border-box;
  border-radius: 0.2rem;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--c-neutral-one);
  color: var(--c-neutral-two);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  display: flex;
  flex-flow: column;
  font-size: 18px;
  margin: auto;
  max-width: 48rem;
  line-height: 1.6;
  padding: 0 1rem;
}

@media (min-width: 49rem) {
  body {
    padding: 0;
  }
}

:lang(ja) {
  font-family: "游ゴシック体", YuGothic, "ヒラギノ丸ゴ", "Hiragino Sans", "Yu Gothic UI", "Meiryo UI", "MS Gothic", Roboto, Noto, "Noto Sans CJK JP", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-neutral-one: #333;
    --c-neutral-two: whitesmoke;
  }
}

main {
  flex: 1 0 auto;
}

header,
footer {
  padding: 0.5rem 0;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
}

footer {
  margin-top: auto;
}

h1,
h2,
h3 {
  color: var(--c-neutral-two);
  line-height: 1.2;
  font-family: Athelas, Constantia, Georgia, serif;
}

img {
  max-width: 100%;
}

a {
  color: var(--c-accent);
}

pre,
code {
  background-color: var(--c-neutral-two);
  color: var(--c-accent);
  font-family: "Andale Mono", Consolas, monospace;
}

pre {
  padding: 0.5rem 1rem;
  white-space: pre-wrap;
}

code {
  padding: 0.1rem 0.3rem;
}
